body, h1, h2, ul, li, table, th, td {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
h2{
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    padding: 20px 0; 
}

.offer {
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
}

.offer h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.offer ul {
    list-style-type: disc;
    margin-left: 20px;
}

.offer li {
    margin-bottom: 10px;
}

.prices {
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
}

.prices h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}